<ion-view style="" class=" " id="page6" title="Animal Bites FAB">
    <ion-content class="has-header" padding="true" style="background: url(img/em.jpg) center; background-size: cover;">
        <form name="addContactForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">

			   <div class="app-icon"></div>

         <div class="item item-text-wrap">
          <h2 style="color:yellow">If an animal bites you or your child, follow these guidelines:</h2>
<p style="color:white"> For minor wounds: If the bite barely breaks the skin and there's no danger of rabies, treat it as a minor wound. Wash the wound thoroughly with soap and water. Apply an antibiotic cream to prevent infection and cover the bite with a clean bandage.</p>
  <div style="width: 279px; height: 35px;" class="spacer"></div>
<p style="color:white"> For deep wounds: If the animal bite creates a deep puncture of the skin or the skin is badly torn and bleeding, apply pressure with a clean, dry cloth to stop the bleeding and see your doctor</p>
  <div style="width: 279px; height: 35px;" class="spacer"></div>
<p style="color:white">For infection: If you notice signs of infection, such as swelling, redness, increased pain or oozing, see your doctor immediately.</p>
  <div style="width: 279px; height: 35px;" class="spacer"></div>
<p style="color:white">For suspected rabies: If you suspect the bite was caused by an animal that might carry rabies — including any wild or domestic animal of unknown immunization status, particularly bats — see your doctor immediately.
        </p> </div>
<button ng-click="gofab()"class=" button button-assertive  button-block" id="signup-button4">Close</button>

        </form>
    </ion-content>
</ion-view>
