<ion-view style="" class=" " id="page6" title="Sunburn FAB">
    <ion-content class="has-header" padding="true" style="background: url(img/em.jpg) center; background-size: cover;">
        <form name="addContactForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">

			   <div class="app-icon"></div>

         <div class="item item-text-wrap">
          <h2 style="color:yellow">For Sunburns :</h2>
<p style="color:white">Replace body fluids with water, juice, or sports drinks.</p>

<p style="color:white">Apply aloe or over-the-counter moisturizing lotion to skin as directed.</p>

<p style="color:white">To soothe and cool skin, take a cool bath or shower or apply cool compresses to the area.</p>

<p style="color:white">For pain, take ibuprofen (Advil, Motrin) or acetaminophen (Tylenol)</p>

<p style="color:white">If blisters form, don't break them.</p>
<p style="color:white">Protect your skin from further sun exposure.</p>
 </div>
<button ng-click="gofab()"class=" button button-assertive  button-block" id="signup-button4">Close</button>

        </form>
    </ion-content>
</ion-view>
