<ion-view style="" class=" " id="page6" title="Bruise FAB">
    <ion-content class="has-header" padding="true" style="background: url(img/em.jpg) center; background-size: cover;">
        <form name="addContactForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">

			   <div class="app-icon"></div>

         <div class="item item-text-wrap">
          <h2 style="color:yellow">A bruise forms when a blow breaks blood vessels near your skin's surface, allowing a small amount of blood to leak into the tissues under your skin. The trapped blood may cause a bruise that at first looks like a black-and-blue mark and then changes color as it heals.

If your skin isn't broken, you don't need a bandage. But you can enhance bruise healing with these simple techniques:</h2>
<p style="color:white"> Elevate the injured area.</p>

<p style="color:white"> Apply an ice pack wrapped in a towel or a cloth dampened with cold water. Do this for about 10 minutes. Repeat several times a day for a day or two after the injury as needed.</p>

<p style="color:white">Rest the bruised area, if possible.</p>

<p style="color:white">Consider acetaminophen (Tylenol, others) for pain relief, or ibuprofen (Advil, Motrin IB, others) for pain relief and to reduce swelling.</p>

 </div>
<button ng-click="gofab()"class=" button button-assertive  button-block" id="signup-button4">Close</button>

        </form>
    </ion-content>
</ion-view>
