<ion-view style="" class=" " id="page6" title="Snake Bites FAB">
    <ion-content class="has-header" padding="true" style="background: url(img/em.jpg) center; background-size: cover;">
        <form name="addContactForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">

			   <div class="app-icon"></div>

         <div class="item item-text-wrap">
          <h2 style="color:yellow">For snakebite :</h2>
<p style="color:white">Note the time of the bite.</p>

<p style="color:white"> Keep calm and still as movement can cause the venom to travel more quickly through the body.</p>

<p style="color:white">Remove constricting clothing or jewelry because the area surrounding the bite will likely swell.</p>

<p style="color:white">Don’t allow the victim to walk. Carry or transport them by vehicle</p>

<p style="color:white">Do not kill or handle the snake. Take a picture if you can but don’t waste time hunting it down.</p>
 </div>
<button ng-click="gofab()"class=" button button-assertive  button-block" id="signup-button4">Close</button>

        </form>
    </ion-content>
</ion-view>
