<ion-view style="" class=" " id="page6" title="First Aid Kit">
    <ion-content class="has-header" padding="true" style="background: url(img/em.jpg) center; background-size: cover;">
        <form name="addContactForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">

			   <div class="app-icon"></div>

            <button  class=" button button-assertive  button-block" id="signup-button3" >Abdominal Pain</button>
            <button  class=" button button-assertive  button-block" id="signup-button4" >Pulled Muscle (Muscle Strain)</button>
            <button  class=" button button-assertive  button-block" id="signup-button5" >Allergic Reaction</button>
            <button  class=" button button-assertive  button-block" id="signup-button6" >Alcohol Intoxication</button>
            <button  class=" button button-assertive  button-block" id="signup-button7" >Altitude/Mountain Sickness</button>
            <button  class=" button button-assertive  button-block" id="signup-button8" >Animal Bites</button>
            <button  class=" button button-assertive  button-block" id="signup-button9" >Asthma Attack</button>
            <button  class=" button button-assertive  button-block" id="signup-button10" >Sprains</button>
            <button  class=" button button-assertive  button-block" id="signup-button11" >Food Poisoning</button>
            <button  class=" button button-assertive  button-block" id="signup-button12" >Asthma Attack</button>
            <button  class=" button button-assertive  button-block" id="signup-button13" >Sprains</button>
            <button ng-click="goHome2()"class=" button button-assertive  button-block" id="signup-button4">Close</button>


        </form>
    </ion-content>
</ion-view>
