<ion-view style="" class=" " id="page6" title="First Aid Kit">
    <ion-content class="has-header" padding="true" style="background: url(img/em.jpg) center; background-size: cover;">
        <form name="addContactForm" class="list " id="signup-form2">
            <ion-list class=" " id="signup-list3">

			   <div class="app-icon"></div>

            <button  ng-click="gofab1()"class=" button button-assertive  button-block" id="signup-button3" >animal bites</button>
            <button  ng-click="gofab2()"class=" button button-assertive  button-block" id="signup-button4" >Blisters</button>
            <button  ng-click="gofab3()"class=" button button-assertive  button-block" id="signup-button5" >Bruise</button>
            <button  ng-click="gofab4()"class=" button button-assertive  button-block" id="signup-button6" >Burns</button>
            <button  ng-click="gofab5()"class=" button button-assertive  button-block" id="signup-button7" >Cardiopulmonary resuscitation(CPR)</button>
            <button  ng-click="gofab6()"class=" button button-assertive  button-block" id="signup-button8" >DislocationS</button>
            <button  ng-click="gofab7()"class=" button button-assertive  button-block" id="signup-button9" >Fracture</button>
            <button  ng-click="gofab8()"class=" button button-assertive  button-block" id="signup-button10" >Poisoning</button>
            <button  ng-click="gofab9()"class=" button button-assertive  button-block" id="signup-button11" >Snake Bites</button>
            <button  ng-click="gofab10()"class=" button button-assertive  button-block" id="signup-button12" >SunBurn</button>
            <button  class=" button button-energized  button-block"  ng-click="goHome2()" id="signup-button4">Close</button>


        </form>
    </ion-content>
</ion-view>
